.container{
    text-align: center;
    margin-top: 15px;

}

.heading{
    margin-top: 10px;
    margin-bottom: 2em;
}

.row{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.col1{
    display: flex;
    justify-content: flex-start;
    font-size: larger;
    font-weight: bolder;
    width: 20vw;
}

.col2 input{
    width: 13vw;
    height: 9vh;
    font-size: larger;
    padding-left: 9px;
    border-radius: 7px;
}
.submit{
    width: 10vw;
    height: 7vh;
    font-size: larger;
    font-weight: bolder;
    border-radius: 7px;
    background-color: rgb(87, 221, 87);
    box-shadow: 0px 1px 3px 1px;
}